* {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

.hidden { display: none;}

body {
    font-size: 16px;
    background-color: white;

    color: black;

    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.box-color {
    background-color: #a52a2a;
    color: white;
}

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}

/* Header */

#main-header {
    margin-bottom: 70px;
}

#header-logo {
    font-family: Unbounded;
    font-size: 35px;
    width: 270px;
    height: 40px;
}

#header-nav {
    height: 20px;
    width: 620px;
    grid-column: 6/-1;
    margin-top: 20px;
}

#header-nav ul a {
    color: #fbfafa;
    text-decoration-line: none;
}

#header-nav ul li {
    display: inline;
    padding-right: 20px;
}

#header-nav li:last-child {
    padding-right: 0;
}

#header-nav ul li a:hover {
    color: rgb(26, 248, 89);
}

/* main */

.icons { 
    text-align: center;
    margin-top: 30px;
}

.iconBox {
    display:list-item
}

.icons h2 {
    color: rgb(107, 1, 123);
    font-size: 3em; 
    margin: 20px 0 10px 0 ;
}

.icons p {
    color: green;
    font-family: Solitreo;
    font-size: 30px;
    margin-bottom: 70px;
}

.icons div {
    width: 40%;
    display: inline-block;
    margin-bottom: 30px;
}

.icons div img { width: 100%; }

/* Badge 1 */
#greenbrownbadge { cursor: pointer; }
#greenbrownbade #maintext { cursor: pointer; }
#greenbrownbadge:hover #background { fill:rgb(205, 106, 7) }

#greenbrownbadge:hover #text { fill:rgb(29, 162, 6) }
#greenbrownbadge #dotcircle { transition: all 0.5s ease ; transform-origin: 50%; }
#greenbrownbadge:hover #dotcircle {
    fill :rgb(42, 1, 146);
    transform: rotate(150deg);
}

/* Badge 2 */
#redbrownbadge{ cursor: pointer; }
#redbrownbadge #text { cursor: pointer; }
#redbrownbadge:hover #background { fill:rgb(30, 205, 7) }
#redbrownbadge:hover #text { fill:rgb(190, 5, 125) }
#redbrownbadge #circle { transition: all 0.5s ease ; transform-origin: 50%; }
#redbrownbadge:hover #circle {
    fill :rgb(192, 30, 132);
    transform: rotate(150deg);
}

/* Badge 3 */
#purplebadge { cursor: pointer; }
#purplebadge #text { cursor: pointer; }
#purplebadge #ribonleft { cursor: pointer; }
#purplebadge #ribonright { cursor: pointer; }
#purplebadge #stars { cursor: pointer; }
#purplebadge:hover #background { fill:rgb(86, 7, 205) }
#purplebadge:hover #text { fill:rgb(3, 156, 13) }
#purplebadge #ribonleft:hover { fill:rgb(86, 7, 205) }
#purplebadge #ribonright:hover { fill:rgb(86, 7, 205) }
#purplebadge:hover #stars { fill:rgb(237, 92, 8) }
#purplebadge #circle { transition: all 0.5s ease ; transform-origin: 50%; }
#purplebadge:hover #circle {
    fill :rgb(30, 160, 192);
    transform: rotate(150deg);
}


/* Badge 4 */
#lightpurplebadge { cursor: pointer; }
#lightpurplebadge #text { cursor: pointer; }
#lightpurplebadge #ribonleft { cursor: pointer; }
#lightpurplebadge #ribonright { cursor: pointer; }
#lightpurplebadge #stars { cursor: pointer; }
#lightpurplebadge:hover #background { fill:rgb(191, 11, 29) }
#lightpurplebadge:hover #text { fill:rgb(7, 194, 251) }
#lightpurplebadge:hover #ribonleft { fill:rgb(86, 7, 205) }
#lightpurplebadge:hover #ribonright { fill:rgb(86, 7, 205) }
#lightpurplebadge:hover #stars { fill:rgb(169, 238, 30) }
#lightpurplebadgee:hover #circle {
    fill :rgb(30, 160, 192);
    transform: rotate(150deg);
}

/* Badge 6 */
#bluegreenbadge { cursor: pointer; }
#bluegreenbadge #text { cursor: pointer; }
#bluegreenbadge #ribonleft { cursor: pointer; }
#bluegreenbadge #ribonright { cursor: pointer; }
#bluegreenbadge #ribonfront { cursor: pointer; }
#bluegreenbadge #stars { cursor: pointer; }
#bluegreenbadge:hover #background { fill:rgb(224, 26, 155) }
#bluegreenbadge:hover #text { fill:rgb(225, 24, 71) }
#bluegreenbadge:hover #ribonleft { fill:rgb(86, 7, 205) }
#bluegreenbadge:hover #ribonright { fill:rgb(86, 7, 205) }
#bluegreenbadge:hover #ribonfront { fill:rgb(86, 7, 205) }
#bluegreenbadge:hover #stars { fill:rgb(237, 92, 8) }
#bluegreenbadge #circle { transition: all 0.5s ease ; transform-origin: 50%; }
#bluegreenbadge:hover #circle {
    fill :rgb(30, 160, 192);
    transform: rotate(150deg);
}

/* Footer */

#footer-header {
    width: 1200px;
    height: 280px;
    background-color: #370ea8;
    margin-top: 50px;
}

#footer-logo {
    font-family: Unbounded;
    font-size: 35px;
    width: 270px;
    height: 40px;
    grid-row: 1/1;
    margin-top: 40px;
}

#footer-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 400px;
    height: 90px;
    grid-column: 1/3;
    grid-row: 2/3;
}

#footer-info p {
    margin-bottom: 10px;
    color: white;
}
#footer-nav {
    height: 20px;
    width: 620px;
    grid-column: 6/-1;
    margin-top: 50px;
}

#footer-nav ul a {
    color: #fbfafa;
    text-decoration-line: none;
}

#footer-nav ul li {
    display: inline;
    padding-right: 20px;
}

#footer-nav li:last-child {
    padding-right: 0;
}

#footer-nav ul li a:hover {
    color: rgb(26, 248, 89);
}

#copyright {
    color: white;
    grid-column: 10/-1;
    grid-row: 2/3;
    margin-top: 60px;
}